body {
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: #3d3d3d;
}

h1 {
  color: #dfe6e9;
}

#stripe {
  background-color: #dfe6e9;
  height: 30px;
  text-align: center;
  color: #3d3d3d;
}

.selected {
  background: blue;
}

.container {
  margin: 0 auto;
  max-width: 600px;
}

.square {
  width: 30%;
  background: #7d5fff;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
}

