body {
  background-color: #3d3d3d;
}

h1 {
  color: #d1d8e0;
}

.container {
  margin: 0 auto;
  max-width: 600px;
}

.square {
  width: 30%;
  background: #7d5fff;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
}