* {
  font-family: 'Montserrat', sans-serif;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #3d3d3d;
  margin: 0;
}

h1 {
  background: #5352ed;
  color: #dfe6e9;
  font-weight: 600;
  line-height: 1.1;
  text-align: center;
  margin: 0;
  padding: 20px 0;
}

#stripe {
  background-color: #dfe6e9;
  height: 30px;
  text-align: center;
  color: #3d3d3d;
}

#colorDisplay {
  font-size: 200%;
}

#message {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  display: inline-block;
  width: 20%;
}

.selected {
  background: #5352ed;
  color: #dfe6e9;
}

.container {
  margin: 20px auto;
  max-width: 600px;
}

.square {
  width: 30%;
  background: #7d5fff;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
  border-radius: 50px;
  transition: background 0.6s;
  -webkit-transition: background 0.6s;
  -moz-transition: background 0.6s;
}

button {
  border: none;
  background: none;
  text-transform: uppercase;
  height: 100%;
  font-weight: 700;
  color: #5352ed;
  letter-spacing: 1px;
  font-size: inherit;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  outline: none;
}

button:hover {
  background: #5352ed;
  color: #dfe6e9;
}

